Repository openstack/os-brick: changes, and which Zuul jobs are due for each by the changed paths.
All: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

.zuul.yaml:

- project:
    templates:
      - check-requirements
      - lib-forward-testing-python3
      - openstack-python3-jobs
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
    check:
      jobs:
        - os-brick-code-coverage:
            voting: false
        - os-brick-src-devstack-plugin-ceph-v
        - os-brick-src-devstack-plugin-ceph-nv
        - os-brick-src-tempest-lvm-lio-barbican
        - os-brick-src-tempest-nfs:
            voting: false
        - os-brick-mypy:
            voting: false
    gate:
      jobs:
        - os-brick-src-tempest-lvm-lio-barbican
    experimental:
      jobs:
        - openstack-tox-pylint

- job:
    name: os-brick-code-coverage
    parent: openstack-tox-cover
    timeout: 2400
    irrelevant-files: &non-code-files
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^tools/.*$

- job:
    name: os-brick-src-devstack-plugin-ceph
    abstract: true
    description: |
      Tempest job which tests os-brick from source.
      Former names for this job were:
        * legacy-tempest-dsvm-full-ceph-plugin-src-os-brick
    parent: cinder-plugin-ceph-tempest
    required-projects:
      - opendev.org/openstack/os-brick
    irrelevant-files: &doc-files
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$

- job:
    name: os-brick-src-devstack-plugin-ceph-v
    final: true
    description: |
      Runs tempest tests on os-brick source against ceph.
      This voting job runs on changes that could affect rbd.
    parent: os-brick-src-devstack-plugin-ceph
    files:
      - ^os_brick/initiator/connector.py$
      - ^os_brick/initiator/connectors/rbd.py$
      - ^os_brick/initiator/linuxrbd.py$
      - ^os_brick/utils.py$

- job:
    name: os-brick-src-devstack-plugin-ceph-nv
    final: true
    voting: false
    description: |
      Runs tempest tests on os-brick source against ceph.
      This non-voting job runs changes that don't specifically
      impact ceph-related os-brick code.
    parent: os-brick-src-devstack-plugin-ceph
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^os_brick/initiator/connector.py$
      - ^os_brick/initiator/connectors/rbd.py$
      - ^os_brick/initiator/linuxrbd.py$
      - ^os_brick/utils.py$

- job:
    name: os-brick-src-tempest-lvm-lio-barbican
    parent: cinder-tempest-plugin-lvm-lio-barbican
    description: |
      Specialized cinder-tempest-lvm-lio-barbican
      which runs against os-brick from sources.
      Former names for this job were:
        * legacy-tempest-dsvm-full-lio-src-os-brick
    required-projects:
      - opendev.org/openstack/os-brick
    irrelevant-files: *doc-files

- job:
    name: os-brick-src-tempest-nfs
    parent: devstack-plugin-nfs-tempest-full
    required-projects:
      - opendev.org/openstack/os-brick
    irrelevant-files: *doc-files

- job:
    name: os-brick-mypy
    parent: openstack-tox
    vars:
      tox_envlist: mypy
    irrelevant-files: *non-code-files

Update python classifier in setup.cfg
  setup.cfg
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

SCSI: Support non SAM LUN addressing
  os_brick/constants.py
  os_brick/initiator/connectors/fibre_channel.py
  os_brick/initiator/connectors/fibre_channel_s390x.py
  os_brick/initiator/connectors/iscsi.py
  os_brick/initiator/linuxfc.py
  os_brick/initiator/linuxscsi.py
  os_brick/tests/initiator/connectors/test_fibre_channel.py
  os_brick/tests/initiator/connectors/test_fibre_channel_s390x.py
  os_brick/tests/initiator/connectors/test_iscsi.py
  os_brick/tests/initiator/test_linuxfc.py
  os_brick/tests/initiator/test_linuxscsi.py
  releasenotes/notes/scsi-addressing-modes-7674ea30d4ff4c49.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

NVMe-oF: Fix generation of hostnqn file
  os_brick/privileged/nvmeof.py
  os_brick/tests/privileged/test_nvmeof.py
  releasenotes/notes/nvmeof-old-shownqn-c8cc2820b9c1418e.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

NVMe-oF: Improve hostnqn creation
  os_brick/initiator/connectors/nvmeof.py
  os_brick/privileged/nvmeof.py
  os_brick/tests/initiator/connectors/test_nvmeof.py
  os_brick/tests/privileged/test_nvmeof.py
  os_brick/utils.py
  releasenotes/notes/nvmeof-faster-create-hostnqn-81a63844142858bf.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

NVMe-oF: Fix attach when reconnecting
  os_brick/initiator/connectors/nvmeof.py
  os_brick/tests/initiator/connectors/test_nvmeof.py
  releasenotes/notes/nvmeof-connecting-788f77a42fe7dd3b.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

NVME-oF: Fix to support new "address" in sysfs
  os_brick/initiator/connectors/nvmeof.py
  os_brick/tests/initiator/connectors/test_nvmeof.py
  releasenotes/notes/nvmeof-new-address-56044523cf8fc203.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

NVMe-oF: Support nvme cli v2
  os_brick/initiator/connectors/nvmeof.py
  os_brick/tests/initiator/connectors/test_nvmeof.py
  releasenotes/notes/nvmeof-support-v2-0d3a423c26eee003.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

NVMe-oF: Create /etc/nvme/hostid
  os_brick/initiator/connectors/nvmeof.py
  os_brick/privileged/nvmeof.py
  os_brick/tests/initiator/connectors/test_nvmeof.py
  os_brick/tests/initiator/test_connector.py
  os_brick/tests/privileged/test_nvmeof.py
  os_brick/tests/test_utils.py
  os_brick/utils.py
  releasenotes/notes/nvmeof-create-hostid-15bf84ec00726fad.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell Powerflex: Add new VOLUME_NOT_MAPPED_ERROR
  os_brick/initiator/connectors/scaleio.py
  os_brick/tests/initiator/connectors/test_scaleio.py
  releasenotes/notes/dell-powerflex-bug-2046810-c16ba2bd8dde06d4.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update .gitreview for unmaintained/yoga
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

reno: Update master for yoga Unmaintained status
  releasenotes/source/yoga.rst
Due: none

nvmeof: Call findmnt with -v
  os_brick/initiator/connectors/nvmeof.py
  releasenotes/notes/nvmeof-findmnt-args-b2c966af83bd3bf3.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Fix: FC partial target scan
  os_brick/initiator/linuxfc.py
  os_brick/tests/initiator/test_linuxfc.py
  releasenotes/notes/fix-fc-scanning-9164da9eb42aaed0.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Add releasenote for unchecked LVM versions
  releasenotes/notes/unsupported-lvm-versions-cbaeabce3ace1805.yaml
Due: none

Deprecate Windows OS support
  os_brick/initiator/windows/base.py
  os_brick/remotefs/windows_remotefs.py
  releasenotes/notes/deprecate-windows-support-bdc643525e9bb132.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update .gitreview for unmaintained/victoria
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update .gitreview for unmaintained/wallaby
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update .gitreview for unmaintained/xena
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

reno: Update master for victoria Unmaintained status
  releasenotes/source/victoria.rst
Due: none

reno: Update master for wallaby Unmaintained status
  releasenotes/source/wallaby.rst
Due: none

reno: Update master for xena Unmaintained status
  releasenotes/source/xena.rst
Due: none

Update .gitreview for stable/2024.1
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update TOX_CONSTRAINTS_FILE for stable/2024.1
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update master for stable/2024.1
  releasenotes/source/2024.1.rst
  releasenotes/source/index.rst
Due: none

RBD: Pass all monitor hosts in a single parameter
  os_brick/initiator/connectors/base_rbd.py
  os_brick/tests/initiator/connectors/test_base_rbd.py
  os_brick/tests/initiator/connectors/test_rbd.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Cleanup pylintrc adjustments for six
  pylintrc
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update CI for Dalmatian
  setup.cfg
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update .gitreview for unmaintained/zed
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

reno: Update master for unmaintained/zed
  releasenotes/source/zed.rst
Due: none

Support hacking 6.1.0
  os_brick/tests/initiator/test_linuxfc.py
  test-requirements.txt
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Silence warning when running in a container with overlayfs
  os_brick/initiator/connectors/nvmeof.py
  os_brick/tests/initiator/connectors/test_nvmeof.py
  releasenotes/notes/fix-host-uuid-warning-3814b7e47bde8010.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Fix fast8 tox env
  tools/fast8.sh
Due: os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs
