Repository openstack/os-brick: changes, and which Zuul jobs are due for each by the changed paths.
All: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

.zuul.yaml:

- project:
    templates:
      - check-requirements
      - lib-forward-testing-python3
      - openstack-python3-jobs
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
    check:
      jobs:
        - os-brick-code-coverage:
            voting: false
        - os-brick-src-devstack-plugin-ceph-v
        - os-brick-src-devstack-plugin-ceph-nv
        - os-brick-src-tempest-lvm-lio-barbican
        - os-brick-src-tempest-nfs:
            voting: false
        - os-brick-mypy:
            voting: false
    gate:
      jobs:
        - os-brick-src-tempest-lvm-lio-barbican
    experimental:
      jobs:
        - openstack-tox-pylint

- job:
    name: os-brick-code-coverage
    parent: openstack-tox-cover
    timeout: 2400
    irrelevant-files: &non-code-files
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^tools/.*$

- job:
    name: os-brick-src-devstack-plugin-ceph
    abstract: true
    description: |
      Tempest job which tests os-brick from source.
      Former names for this job were:
        * legacy-tempest-dsvm-full-ceph-plugin-src-os-brick
    parent: cinder-plugin-ceph-tempest
    required-projects:
      - opendev.org/openstack/os-brick
    irrelevant-files: &doc-files
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$

- job:
    name: os-brick-src-devstack-plugin-ceph-v
    final: true
    description: |
      Runs tempest tests on os-brick source against ceph.
      This voting job runs on changes that could affect rbd.
    parent: os-brick-src-devstack-plugin-ceph
    files:
      - ^os_brick/initiator/connector.py$
      - ^os_brick/initiator/connectors/rbd.py$
      - ^os_brick/initiator/linuxrbd.py$
      - ^os_brick/utils.py$

- job:
    name: os-brick-src-devstack-plugin-ceph-nv
    final: true
    voting: false
    description: |
      Runs tempest tests on os-brick source against ceph.
      This non-voting job runs changes that don't specifically
      impact ceph-related os-brick code.
    parent: os-brick-src-devstack-plugin-ceph
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^os_brick/initiator/connector.py$
      - ^os_brick/initiator/connectors/rbd.py$
      - ^os_brick/initiator/linuxrbd.py$
      - ^os_brick/utils.py$

- job:
    name: os-brick-src-tempest-lvm-lio-barbican
    parent: cinder-tempest-plugin-lvm-lio-barbican
    description: |
      Specialized cinder-tempest-lvm-lio-barbican
      which runs against os-brick from sources.
      Former names for this job were:
        * legacy-tempest-dsvm-full-lio-src-os-brick
    required-projects:
      - opendev.org/openstack/os-brick
    irrelevant-files: *doc-files

- job:
    name: os-brick-src-tempest-nfs
    parent: devstack-plugin-nfs-tempest-full
    required-projects:
      - opendev.org/openstack/os-brick
    irrelevant-files: *doc-files

- job:
    name: os-brick-mypy
    parent: openstack-tox
    vars:
      tox_envlist: mypy
    irrelevant-files: *non-code-files

Dell Powerflex: Add new VOLUME_NOT_MAPPED_ERROR
  os_brick/initiator/connectors/scaleio.py
  os_brick/tests/initiator/connectors/test_scaleio.py
  releasenotes/notes/dell-powerflex-bug-2046810-c16ba2bd8dde06d4.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell Powerflex: Add new VOLUME_ALREADY_MAPPED_ERROR
  os_brick/initiator/connectors/scaleio.py
  os_brick/tests/initiator/connectors/test_scaleio.py
  releasenotes/notes/bug-2013749-3de9f827b82116a2.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Use oslo.utils to strip scope from an IPv6 address
  os_brick/initiator/connectors/lightos.py
  requirements.txt
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell PowerFlex: Unnecessary login happen
  os_brick/initiator/connectors/scaleio.py
  releasenotes/notes/bug-2004630-e94616509a51258c.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

[stable-only] Cap setuptools <71.0.0
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

StorPool: Add the iSCSI configuration API
  os_brick/initiator/storpool_utils.py
  releasenotes/notes/notice-37378e268b52ed89.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

FC: Fix multipath wait issue with slow connections
  os_brick/initiator/connectors/fibre_channel.py
  os_brick/tests/initiator/connectors/test_fibre_channel.py
  releasenotes/notes/fix-multipath-wait-for-fc-2404c4de2b277267.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

mypy: Print mypy version used
  tools/mypywrap.sh
Due: os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs

Support mypy 1.15.0
  os_brick/initiator/connectors/iscsi.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

mypy: Improve linuxscsi coverage
  os_brick/initiator/connectors/base_iscsi.py
  os_brick/initiator/connectors/fibre_channel.py
  os_brick/initiator/connectors/iscsi.py
  os_brick/initiator/linuxscsi.py
  os_brick/privileged/rootwrap.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Fix: UTs in fibre channel multipath tests
  os_brick/tests/initiator/connectors/test_fibre_channel.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

FC: Improve exception handling during scanning
  os_brick/initiator/linuxfc.py
  os_brick/tests/initiator/test_linuxfc.py
  releasenotes/notes/fc-remote-ports-exception-handling-0c78d46bcfaddce1.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Remove usage of the "VIRTUAL_ENV" environment variable
  os_brick/privileged/__init__.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update .gitreview for stable/2025.1
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update TOX_CONSTRAINTS_FILE for stable/2025.1
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update master for stable/2025.1
  releasenotes/source/2025.1.rst
  releasenotes/source/index.rst
Due: none

Make exception raised by Rbd.fileno() more specific
  os_brick/initiator/linuxrbd.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

FC: Avoid calling ``lsscsi`` during disconnect
  os_brick/initiator/connectors/fibre_channel.py
  os_brick/tests/initiator/connectors/test_fibre_channel.py
  releasenotes/notes/fc-avoid-lsscsi-during-disconnect-0281774084dc02ad.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Allow extend_volume for local devices
  os_brick/initiator/connectors/local.py
  os_brick/tests/initiator/connectors/test_local.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Remove Python 3.9 support
  releasenotes/notes/remove-py39-1df77515becc0d51.yaml
  setup.cfg
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

iSCSI: Add debug log for WWN and multipath
  os_brick/initiator/connectors/iscsi.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell PowerFlex: Added retry after disconnect volume
  os_brick/initiator/connectors/scaleio.py
  os_brick/tests/initiator/connectors/test_scaleio.py
  releasenotes/notes/bug-2034685-dell-powerflex-scaleio-disconnect-volume-c69017cc120306df.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Drop redundant description of default values
  os_brick/opts.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell PowerFlex: Improve secret handling
  os_brick/initiator/connectors/scaleio.py
  os_brick/tests/initiator/connectors/test_scaleio.py
  os_brick/tests/initiator/test_connector.py
  releasenotes/notes/bug-2114879-dell-powerflex-improve-secret-handling-c468d66b58a9626d.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Remove "from __future__ import annotations"
  os_brick/encryptors/__init__.py
  os_brick/exception.py
  os_brick/executor.py
  os_brick/initiator/connectors/base.py
  os_brick/initiator/connectors/base_iscsi.py
  os_brick/initiator/connectors/base_rbd.py
  os_brick/initiator/connectors/fibre_channel.py
  os_brick/initiator/connectors/iscsi.py
  os_brick/initiator/connectors/local.py
  os_brick/initiator/connectors/nvmeof.py
  os_brick/initiator/connectors/rbd.py
  os_brick/initiator/connectors/remotefs.py
  os_brick/initiator/host_driver.py
  os_brick/initiator/linuxfc.py
  os_brick/initiator/linuxrbd.py
  os_brick/initiator/linuxscsi.py
  os_brick/local_dev/lvm.py
  os_brick/privileged/nvmeof.py
  os_brick/utils.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Add missing release note
  releasenotes/notes/bug-2121082-ae51de14b3c243fe.yaml
Due: none

Update .gitreview for stable/2025.2
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update TOX_CONSTRAINTS_FILE for stable/2025.2
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update master for stable/2025.2
  releasenotes/source/2025.2.rst
  releasenotes/source/index.rst
Due: none

Pin upper version of mypy
  test-requirements.txt
Due: os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs

Fix iSCSI session device scanning for multiple sessions per portal
  os_brick/initiator/connectors/iscsi.py
  os_brick/tests/initiator/connectors/test_iscsi.py
  releasenotes/notes/bug-2116553-iscsi-multiple-sessions-device-scanning-fix.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update .gitreview for unmaintained/2024.1
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy
