Repository openstack/os-brick: changes, and which Zuul jobs are due for each by the changed paths.
All: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

os-brick-code-coverage:
  parent: openstack-tox-cover
  timeout: 2400

os-brick-src-devstack-plugin-ceph-v:
  final: true
  description: 'Runs tempest tests on os-brick source against ceph.
  
    This voting job runs on changes that could affect rbd.
  
    '
  parent: os-brick-src-devstack-plugin-ceph

os-brick-src-devstack-plugin-ceph-nv:
  final: true
  voting: false
  description: 'Runs tempest tests on os-brick source against ceph.
  
    This non-voting job runs changes that don''t specifically
  
    impact ceph-related os-brick code.
  
    '
  parent: os-brick-src-devstack-plugin-ceph

os-brick-src-tempest-lvm-lio-barbican:
  parent: cinder-tempest-plugin-lvm-lio-barbican
  description: "Specialized cinder-tempest-lvm-lio-barbican\nwhich runs against os-brick from sources.\nFormer names for this job were:\n  * legacy-tempest-dsvm-full-lio-src-os-brick\n"
  required-projects:
  - opendev.org/openstack/os-brick

os-brick-src-tempest-nfs:
  parent: devstack-plugin-nfs-tempest-full
  required-projects:
  - opendev.org/openstack/os-brick

os-brick-mypy:
  parent: openstack-tox
  vars:
    tox_envlist: mypy

Silence warning when running in a container with overlayfs
  os_brick/initiator/connectors/nvmeof.py
  os_brick/tests/initiator/connectors/test_nvmeof.py
  releasenotes/notes/fix-host-uuid-warning-3814b7e47bde8010.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

storpool.py: Use StorPool's API for Attach/Detach
  os_brick/initiator/connectors/storpool.py
  os_brick/tests/initiator/connectors/test_storpool.py
  releasenotes/notes/bug-2033292-storpool-migration-wrong-volume-72ec2f18e39a027a.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

StorPool: Raise on spopenstack, SP_OURID issues
  os_brick/initiator/connectors/storpool.py
  os_brick/tests/initiator/connectors/test_storpool.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell Powerflex: Add new VOLUME_NOT_MAPPED_ERROR
  os_brick/initiator/connectors/scaleio.py
  os_brick/tests/initiator/connectors/test_scaleio.py
  releasenotes/notes/dell-powerflex-bug-2046810-c16ba2bd8dde06d4.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Wait for multipath device to be ready for I/O
  os_brick/initiator/connectors/fibre_channel.py
  os_brick/initiator/connectors/iscsi.py
  os_brick/initiator/linuxscsi.py
  os_brick/opts.py
  os_brick/tests/initiator/connectors/test_fibre_channel.py
  os_brick/tests/initiator/test_linuxscsi.py
  releasenotes/notes/wait-mpath-io-703605e74ee009ef.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

add a new funtion to return IP address(es) of a host machine
  os_brick/initiator/connectors/lightos.py
  os_brick/tests/initiator/connectors/test_lightos.py
  requirements.txt
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell PowerFlex: Unnecessary login happen
  os_brick/initiator/connectors/scaleio.py
  releasenotes/notes/bug-2004630-e94616509a51258c.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Support force disconnect for FC
  os_brick/initiator/connectors/fibre_channel.py
  os_brick/initiator/connectors/fibre_channel_s390x.py
  os_brick/initiator/linuxscsi.py
  os_brick/tests/initiator/connectors/test_fibre_channel.py
  os_brick/tests/initiator/connectors/test_fibre_channel_s390x.py
  os_brick/tests/initiator/test_linuxscsi.py
  releasenotes/notes/fc-force-disconnect-1a33cf46c233dd04.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Fix encryption symlink issues
  os_brick/initiator/connectors/fibre_channel.py
  os_brick/initiator/connectors/iscsi.py
  os_brick/initiator/connectors/nvmeof.py
  os_brick/initiator/connectors/rbd.py
  os_brick/initiator/connectors/scaleio.py
  os_brick/initiator/connectors/storpool.py
  os_brick/initiator/initiator_connector.py
  os_brick/initiator/linuxscsi.py
  os_brick/privileged/rootwrap.py
  os_brick/tests/initiator/connectors/test_fibre_channel.py
  os_brick/tests/initiator/connectors/test_iscsi.py
  os_brick/tests/initiator/test_linuxscsi.py
  os_brick/tests/privileged/test_rootwrap.py
  os_brick/tests/test_utils.py
  os_brick/utils.py
  releasenotes/notes/encryption-a642889a82ff9207.yaml
  releasenotes/notes/rbd-disconnect-failure-9efa6932df40271b.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell Powerflex: Add new VOLUME_ALREADY_MAPPED_ERROR
  os_brick/initiator/connectors/scaleio.py
  os_brick/tests/initiator/connectors/test_scaleio.py
  releasenotes/notes/bug-2013749-3de9f827b82116a2.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell PowerFlex: Added retry after disconnect volume
  os_brick/initiator/connectors/scaleio.py
  os_brick/tests/initiator/connectors/test_scaleio.py
  releasenotes/notes/bug-2034685-dell-powerflex-scaleio-disconnect-volume-c69017cc120306df.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Add get_passphrase_from_secret utility function
  os_brick/encryptors/base.py
  os_brick/encryptors/cryptsetup.py
  os_brick/encryptors/luks.py
  os_brick/tests/encryptors/test_base.py
  os_brick/tests/encryptors/test_luks.py
  os_brick/tests/test_utils.py
  os_brick/utils.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update .gitreview for stable/2024.2
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update TOX_CONSTRAINTS_FILE for stable/2024.2
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update master for stable/2024.2
  releasenotes/source/2024.2.rst
  releasenotes/source/index.rst
Due: none

Fix pdf doc build
  doc/source/conf.py
Due: none

Update .gitreview for unmaintained/2023.1
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

reno: Update master for unmaintained/2023.1
  releasenotes/source/2023.1.rst
Due: none

Updating testing as per the 2025.1 cycle testing runtime
  setup.cfg
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Fix multipathd dependency in NVMe-oF connections
  os_brick/initiator/connectors/base.py
  os_brick/initiator/connectors/fibre_channel.py
  os_brick/initiator/connectors/iscsi.py
  os_brick/initiator/connectors/nvmeof.py
  os_brick/initiator/linuxscsi.py
  os_brick/tests/initiator/connectors/test_fibre_channel.py
  os_brick/tests/initiator/connectors/test_iscsi.py
  os_brick/tests/initiator/connectors/test_nvmeof.py
  os_brick/tests/initiator/test_connector.py
  os_brick/tests/initiator/test_linuxscsi.py
  releasenotes/notes/fix-multipathd-dependency-nvmeof-d61187f1ab3808c2.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

StorPool: Do not use packages `storpool` and `storpool.spopenstack`
  os_brick/initiator/connectors/storpool.py
  os_brick/initiator/storpool_utils.py
  os_brick/tests/initiator/connectors/test_storpool.py
  os_brick/tests/initiator/test_storpool_utils.py
  releasenotes/notes/storpool-move-api-and-config-code-in-tree-62f41ec44a8a7b7d.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Bump hacking to 7
  test-requirements.txt
Due: os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs

Fix outdated notes in requirement files
  doc/requirements.txt
  requirements.txt
  test-requirements.txt
Due: os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs

Switch back to built-in md5 method
  os_brick/remotefs/remotefs.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Path conditions:
  os-brick-code-coverage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
  os-brick-src-devstack-plugin-ceph-v: any of: ^os_brick/initiator/connector.py$, ^os_brick/initiator/connectors/rbd.py$, ^os_brick/initiator/linuxrbd.py$, ^os_brick/utils.py$
  os-brick-src-devstack-plugin-ceph-nv: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^os_brick/initiator/connector.py$, ^os_brick/initiator/connectors/rbd.py$, ^os_brick/initiator/linuxrbd.py$, ^os_brick/utils.py$
  os-brick-src-tempest-lvm-lio-barbican: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  os-brick-src-tempest-nfs: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  os-brick-mypy: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
