Repository openstack/os-brick: changes, and which Zuul jobs are due for each by the changed paths.
All: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

os-brick-code-coverage:
  parent: openstack-tox-cover
  timeout: 2400

os-brick-src-devstack-plugin-ceph-v:
  final: true
  description: 'Runs tempest tests on os-brick source against ceph.
  
    This voting job runs on changes that could affect rbd.
  
    '
  parent: os-brick-src-devstack-plugin-ceph

os-brick-src-devstack-plugin-ceph-nv:
  final: true
  voting: false
  description: 'Runs tempest tests on os-brick source against ceph.
  
    This non-voting job runs changes that don''t specifically
  
    impact ceph-related os-brick code.
  
    '
  parent: os-brick-src-devstack-plugin-ceph

os-brick-src-tempest-lvm-lio-barbican:
  parent: cinder-tempest-plugin-lvm-lio-barbican
  description: "Specialized cinder-tempest-lvm-lio-barbican\nwhich runs against os-brick from sources.\nFormer names for this job were:\n  * legacy-tempest-dsvm-full-lio-src-os-brick\n"
  required-projects:
  - opendev.org/openstack/os-brick

os-brick-src-tempest-nfs:
  parent: devstack-plugin-nfs-tempest-full
  required-projects:
  - opendev.org/openstack/os-brick

os-brick-mypy:
  parent: openstack-tox
  vars:
    tox_envlist: mypy

reno: Update master for unmaintained/2024.1
  releasenotes/source/2024.1.rst
Due: none

iSCSI: wait for multipathd to remove paths
  os_brick/exception.py
  os_brick/initiator/linuxscsi.py
  os_brick/tests/initiator/test_linuxscsi.py
  releasenotes/notes/fix-wait-multipathd-path-removal-52671046997039bf.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

ScaleIO: Improve error logging
  os_brick/initiator/connectors/scaleio.py
  os_brick/tests/initiator/connectors/test_scaleio.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

LightOS: update discovery client configuration
  os_brick/initiator/connectors/lightos.py
  releasenotes/notes/add-lightos-discovery-client-conf-1a1a5b5a68b5914b.yaml
  setup.cfg
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell PowerFlex: Fixed volume detach issue
  os_brick/initiator/connectors/scaleio.py
  os_brick/tests/initiator/connectors/test_scaleio.py
  releasenotes/notes/bug-2138280-dell-powerflex-detach-issue-2b031ac216d04d19.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

feat: add nfs 4.2 option
  os_brick/remotefs/remotefs.py
  os_brick/tests/remotefs/test_remotefs.py
  releasenotes/notes/bug-2122594-1f1ff886fa3fb0d1.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Bump hacking to 8.0.0
  test-requirements.txt
Due: os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs

RBD: Use read-only RBD Volume when determining size for extend
  os_brick/initiator/connectors/rbd.py
  os_brick/tests/initiator/connectors/test_rbd.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Remove windows support
  os_brick/initiator/__init__.py
  os_brick/initiator/connector.py
  os_brick/initiator/utils.py
  os_brick/initiator/windows/__init__.py
  os_brick/initiator/windows/base.py
  os_brick/initiator/windows/fibre_channel.py
  os_brick/initiator/windows/iscsi.py
  os_brick/initiator/windows/rbd.py
  os_brick/initiator/windows/smbfs.py
  os_brick/remotefs/windows_remotefs.py
  os_brick/tests/initiator/test_connector.py
  os_brick/tests/initiator/test_utils.py
  os_brick/tests/remotefs/test_windows_remotefs.py
  os_brick/tests/windows/__init__.py
  os_brick/tests/windows/fake_win_conn.py
  os_brick/tests/windows/test_base.py
  os_brick/tests/windows/test_base_connector.py
  os_brick/tests/windows/test_factory.py
  os_brick/tests/windows/test_fibre_channel.py
  os_brick/tests/windows/test_iscsi.py
  os_brick/tests/windows/test_rbd.py
  os_brick/tests/windows/test_smbfs.py
  requirements.txt
  test-requirements.txt
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell PowerFlex: Fix password appears in plain text
  os_brick/__init__.py
  os_brick/privileged/__init__.py
  os_brick/privileged/scaleio.py
  releasenotes/notes/bug-2003179-44a6c90dd17c88f7.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Doc: Update README version references
  README.rst
Due: none

iscsi: Filter credential from debug logs
  os_brick/initiator/connectors/base.py
  os_brick/initiator/connectors/iscsi.py
  os_brick/tests/initiator/connectors/test_iscsi.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

[stable-only] constrain setuptools
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update .gitreview for stable/2026.1
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update TOX_CONSTRAINTS_FILE for stable/2026.1
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update master for stable/2026.1
  releasenotes/source/2026.1.rst
  releasenotes/source/index.rst
Due: none

Fix iSCSI session device scanning for multiple sessions per portal
  os_brick/initiator/connectors/iscsi.py
  os_brick/tests/initiator/connectors/test_iscsi.py
  releasenotes/notes/bug-2116553-iscsi-multiple-sessions-device-scanning-fix.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

UT: Fix test_connect_multipath_volume_no_wwid mock call extraction
  os_brick/tests/initiator/connectors/test_iscsi.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell PowerFlex: Fix san_username rotation
  os_brick/initiator/connectors/scaleio.py
  os_brick/privileged/scaleio.py
  os_brick/tests/initiator/connectors/test_scaleio.py
  releasenotes/notes/bug-2142083-dell-powerflex-user-rotation-issue-5b031ac316d04c20.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Remove eventlet from tests and requirements
  os_brick/initiator/connectors/iscsi.py
  os_brick/tests/initiator/connectors/test_fibre_channel.py
  test-requirements.txt
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Initiate NVMeConnProps with controllers in extend_volume
  os_brick/initiator/connectors/nvmeof.py
  os_brick/tests/initiator/connectors/test_nvmeof.py
  releasenotes/notes/bug-2140543-ceb7c0517cc796bf.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Pin setuptools and oslo.utils due compatibility issues
  doc/requirements.txt
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Migrate setup.cfg to pyproject.toml
  pyproject.toml
  setup.cfg
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update python tested versions for hibiscus
  pyproject.toml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Dell PowerFlex: Fix Storage Username Rotation
  os_brick/privileged/scaleio.py
  releasenotes/notes/bug-2142083-dell-powerflex-user-rotation-issue-5b031ac316d04c20.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Bump hacking to 8.1.0
  test-requirements.txt
Due: os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs

Bump mypy to 2.1.0
  os_brick/utils.py
  test-requirements.txt
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-v, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

mypy: improve executor coverage
  mypy-files.txt
  os_brick/executor.py
  os_brick/initiator/connectors/fibre_channel.py
  os_brick/local_dev/lvm.py
  os_brick/privileged/rootwrap.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update .gitreview for stable/2026.2
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update TOX_CONSTRAINTS_FILE for stable/2026.2
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update master for stable/2026.2
  releasenotes/source/2026.2.rst
  releasenotes/source/index.rst
Due: none

Resolve multipath map paths before flushing them
  os_brick/initiator/linuxscsi.py
  os_brick/tests/initiator/connectors/test_fibre_channel.py
  os_brick/tests/initiator/test_linuxscsi.py
  releasenotes/notes/bug-2167932-multipath-flush-by-path-28be1cbb0010321b.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update inline code comment in multipath flush logic
  os_brick/initiator/linuxscsi.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph-nv, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Path conditions:
  os-brick-code-coverage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
  os-brick-src-devstack-plugin-ceph-v: any of: ^os_brick/initiator/connector.py$, ^os_brick/initiator/connectors/rbd.py$, ^os_brick/initiator/linuxrbd.py$, ^os_brick/utils.py$
  os-brick-src-devstack-plugin-ceph-nv: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^os_brick/initiator/connector.py$, ^os_brick/initiator/connectors/rbd.py$, ^os_brick/initiator/linuxrbd.py$, ^os_brick/utils.py$
  os-brick-src-tempest-lvm-lio-barbican: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  os-brick-src-tempest-nfs: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  os-brick-mypy: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
