Repository openstack/os-brick: changes, and which Zuul jobs are due for each by the changed paths.
All: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

.zuul.yaml:

- project:
    templates:
      - check-requirements
      - lib-forward-testing-python3
      - openstack-python3-yoga-jobs
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
    check:
      jobs:
        - os-brick-code-coverage:
            voting: false
        - os-brick-src-devstack-plugin-ceph:
            voting: false
        - os-brick-src-tempest-lvm-lio-barbican
        - os-brick-src-tempest-nfs:
            voting: false
    gate:
      jobs:
        - os-brick-src-tempest-lvm-lio-barbican
    experimental:
      jobs:
        - openstack-tox-pylint
        - os-brick-mypy

- job:
    name: os-brick-code-coverage
    parent: openstack-tox-cover
    timeout: 2400
    irrelevant-files: &non-code-files
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^tools/.*$

- job:
    name: os-brick-src-devstack-plugin-ceph
    description: |
      Tempest job which tests os-brick from source.
      Former names for this job were:
        * legacy-tempest-dsvm-full-ceph-plugin-src-os-brick
    parent: cinder-plugin-ceph-tempest
    required-projects:
      - opendev.org/openstack/os-brick
    irrelevant-files: &doc-files
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$

- job:
    name: os-brick-src-tempest-lvm-lio-barbican
    parent: cinder-tempest-plugin-lvm-lio-barbican
    description: |
      Specialized cinder-tempest-lvm-lio-barbican
      which runs against os-brick from sources.
      Former names for this job were:
        * legacy-tempest-dsvm-full-lio-src-os-brick
    required-projects:
      - opendev.org/openstack/os-brick
    irrelevant-files: *doc-files

- job:
    name: os-brick-src-tempest-nfs
    parent: devstack-plugin-nfs-tempest-full
    required-projects:
      - opendev.org/openstack/os-brick
    irrelevant-files: *doc-files

- job:
    name: os-brick-mypy
    parent: openstack-tox
    vars:
      tox_envlist: mypy
    irrelevant-files: *non-code-files

Get ready for tox 4
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

[stable-only] Pin tox <4
  .zuul.yaml
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Bump mypy version to 0.982
  test-requirements.txt
Due: os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs

Bump bandit to release 1.7.0
  os_brick/initiator/linuxfc.py
  test-requirements.txt
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Support separate privsep logging levels
  os_brick/privileged/__init__.py
  releasenotes/notes/privsep-logs-9e938e5a2aee042e.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Bump hacking to 4.1.0
  test-requirements.txt
Due: os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs

Fix wrong assertion methods
  os_brick/tests/initiator/connectors/test_iscsi.py
  os_brick/tests/initiator/connectors/test_nvmeof.py
  os_brick/tests/initiator/connectors/test_rbd.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

linuxrbd: Remove rados_connect_timeout parameter
  os_brick/initiator/linuxrbd.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update minimum requirements in os-brick
  requirements.txt
  test-requirements.txt
Due: os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs

LVM: Fix bare raise on LVM command error
  os_brick/local_dev/lvm.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update hacking to 5.0
  test-requirements.txt
Due: os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs

Update .gitreview for stable/2023.1
  .gitreview
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update TOX_CONSTRAINTS_FILE for stable/2023.1
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Update master for stable/2023.1
  releasenotes/source/2023.1.rst
  releasenotes/source/index.rst
Due: none

Set packages in setup.cfg
  setup.cfg
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Add Python 3.10 to setup.cfg metadata
  setup.cfg
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

LVM: Fix supports_full_pool_create
  os_brick/local_dev/lvm.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Bump mypy to 1.1.1
  test-requirements.txt
Due: os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs

LVM: Remove outdated comment
  os_brick/local_dev/lvm.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Fix iSCSI disconnect_volume when flush fails
  os_brick/initiator/connectors/iscsi.py
  os_brick/initiator/linuxscsi.py
  os_brick/tests/initiator/connectors/test_iscsi.py
  os_brick/tests/initiator/test_linuxscsi.py
  releasenotes/notes/fix-bug-2012251-381ad16653472c50.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Support force disconnect for FC
  os_brick/initiator/connectors/fibre_channel.py
  os_brick/initiator/connectors/fibre_channel_s390x.py
  os_brick/initiator/linuxscsi.py
  os_brick/tests/initiator/connectors/test_fibre_channel.py
  os_brick/tests/initiator/connectors/test_fibre_channel_s390x.py
  os_brick/tests/initiator/test_linuxscsi.py
  releasenotes/notes/fc-force-disconnect-1a33cf46c233dd04.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

import pylint tooling from cinder
  .pylintrc
  tools/coding-checks.sh
  tox.ini
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Revert "Fix iSCSI disconnect_volume when flush fails"
  os_brick/initiator/connectors/iscsi.py
  os_brick/initiator/linuxscsi.py
  os_brick/tests/initiator/connectors/test_iscsi.py
  os_brick/tests/initiator/test_linuxscsi.py
  releasenotes/notes/fix-bug-2012251-381ad16653472c50.yaml
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

Bump mypy to 1.2.0
  test-requirements.txt
Due: os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs

encryptors: Unbind LuksEncryptor and CryptsetupEncryptor
  os_brick/encryptors/luks.py
  os_brick/tests/encryptors/test_luks.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy

[stable-em-only] Add CVE-2023-2088 warning
  README.rst
Due: none

mypy: Fix failing mypy job
  os_brick/initiator/connectors/fibre_channel.py
Due: os-brick-code-coverage, os-brick-src-devstack-plugin-ceph, os-brick-src-tempest-lvm-lio-barbican, os-brick-src-tempest-nfs, os-brick-mypy
